<header class="headerHome">
	<nav class="navHome">
		<div class="navOpHome">
			<a class="textNavHome" href="/">Home</a>
		</div>
		<div class="navOp">
			<a class="textNavHome" href="/ackermann">Funcion de <br /> Ackermann</a>
			<a class="textNavHome" href="/euclides">Algoritmo de <br /> Euclides</a>
			<a class="textNavHome" href="/torresdehanoi">Torres de <br /> Hanoi</a>
		</div>
	</nav>
</header>
