@page "/euclides"
@using System

<NavMenuHeader />

<div class="containerAck">
	<div class="titleGridEuc">
		<h1 class="titleEuc">Algoritmo de Euclides (MCD)</h1>
	</div>

	<div class="formGridEuc">
		<p class="labelEuc">Ingrese los números  para encontrar su MCD:</p>

		<div class="input-group mb-3" style="width: 300px; margin: auto;">
			<span class="input-group-text">Primer número:</span>
			<input type="number" class="form-control inputEuc" @bind="primerNum" />
		</div>

		<div class="input-group mb-3" style="width: 300px; margin: auto;">
			<span class="input-group-text">Segundo número:</span>
			<input type="number" class="form-control inputEuc" @bind="secondNum" />
		</div>
	</div>

	<div class="buttonGridEuc">
		<button class="buttonEuc" @onclick="CalcularMCD">Calcular MCD</button>
		<button class="buttonEuc"  @onclick="LimpiarValores">Limpiar</button>
	</div>

	<div class="resultadoGridEuc">
		@if (!primerNum.HasValue || !secondNum.HasValue)
		{
			<p class="resultadoEuc">Ingrese las valores solicitados.</p>
		}
		else if (resultado.HasValue)
		{
			<p class="resultadoEuc">El MCD de @primerNum y @secondNum es: @resultado</p>
		}
		@if (!string.IsNullOrEmpty(mensajeError))
		{
			<p class="errorResultadoEuc">@mensajeError</p>
		}
	</div>
</div>

<Footer />

@code {
	int? primerNum;
	int? secondNum;
	int? resultado;
	bool mcdCalculado;
	string mensajeError = "";

	private void CalcularMCD()
	{

		mensajeError = "";

		if (primerNum <= 0 || secondNum <= 0)
		{
			mensajeError = "Por favor, ingrese números positivos y diferentes de cero.";
			return;
		}

		resultado = CalculoMCD(primerNum ?? 0, secondNum ?? 0);
		mcdCalculado = true;
	}

	private int CalculoMCD(int num1, int num2)
	{
		if (num2 == 0)
		{
			return num1;
		}
		else
		{
			return CalculoMCD(num2, num1 % num2);
		}
	}

	void LimpiarValores()
	{
		primerNum = null;
		secondNum = null;
		resultado = null;
		mensajeError = "";
	}
}

