@page "/euclides"
@using System

<div style="text-align: center; margin-top: 20px;">
    <h1 style="color: blue; font-family: Arial, sans-serif;">Función de Euclides (MCD)</h1>
</div>

<div style="text-align: center; margin-top: 30px;">
    <p>Ingrese los números  para encontrar su MCD:</p>

    <div class="input-group mb-3" style="width: 300px; margin: auto;">
        <span class="input-group-text">Primer número:</span>
        <input type="number" class="form-control" @bind="A" />
    </div>

    <div class="input-group mb-3" style="width: 300px; margin: auto;">
        <span class="input-group-text">Segundo número:</span>
        <input type="number" class="form-control" @bind="B" />
    </div>

    <button class="btn btn-primary" style="display: block; margin: auto;" @onclick="CalcularMCD">Calcular MCD</button>

    @if (McdCalculado)
    {
        <p style="color: #008000; text-align: center; margin-top: 20px; font-size: 20px; font-family: Arial, sans-serif;">El MCD de @A y @B es: @Resultado</p>
    }
    @if (!string.IsNullOrEmpty(MensajeError))
    {
        <p style="color: red; text-align: center; margin-top: 20px; font-size: 20px; font-family: Arial, sans-serif;">@MensajeError</p>
    }
</div>

@code {
    int A;
    int B;
    int Resultado;
    bool McdCalculado;
    string MensajeError = "";

    private void CalcularMCD()
    {
        
        MensajeError = "";

        if (A <= 0 || B <= 0)
        {
            MensajeError = "Por favor, ingrese números positivos y diferentes de cero.";
            return;
        }

        Resultado = CalculoMCD(A, B);
        McdCalculado = true;
    }

    private int CalculoMCD(int a, int b)
    {
        if (b == 0)
        {
            return a;
        }
        else
        {
            return CalculoMCD(b, a % b);
        }
    }
}

