@page "/euclides"
@using System

<NavMenuHeader />

<div class="containerAck">
	<div class="titleGridEuc">
		<h1 class="titleEuc">Función de Euclides (MCD)</h1>
	</div>

	<div class="formGridEuc">
		<p class="labelEuc">Ingrese los números  para encontrar su MCD:</p>

		<div class="input-group mb-3" style="width: 300px; margin: auto;">
			<span class="input-group-text">Primer número:</span>
			<input type="number" class="form-control inputEuc" @bind="A" />
		</div>

		<div class="input-group mb-3" style="width: 300px; margin: auto;">
			<span class="input-group-text">Segundo número:</span>
			<input type="number" class="form-control inputEuc" @bind="B" />
		</div>
	</div>

	<div class="buttonGridEuc">
		<button class="buttonEuc" @onclick="CalcularMCD">Calcular MCD</button>
		<button class="buttonEuc"  @onclick="LimpiarValores">Limpiar</button>
	</div>

	<div class="resultadoGridEuc">
		@if (!A.HasValue || !B.HasValue)
		{
			<p class="resultadoEuc">Ingrese las valores solicitados.</p>
		}
		else if (Resultado.HasValue)
		{
			<p class="resultadoEuc">El MCD de @A y @B es: @Resultado</p>
		}
		@if (!string.IsNullOrEmpty(MensajeError))
		{
			<p class="errorResultadoEuc">@MensajeError</p>
		}
	</div>
</div>

<Footer />

@code {
	int? A;
	int? B;
	int? Resultado;
	bool McdCalculado;
	string MensajeError = "";

	private void CalcularMCD()
	{

		MensajeError = "";

		if (A <= 0 || B <= 0)
		{
			MensajeError = "Por favor, ingrese números positivos y diferentes de cero.";
			return;
		}

		Resultado = CalculoMCD(A ?? 0, B ?? 0);
		McdCalculado = true;
	}

	private int CalculoMCD(int a, int b)
	{
		if (b == 0)
		{
			return a;
		}
		else
		{
			return CalculoMCD(b, a % b);
		}
	}

	void LimpiarValores()
	{
		A = null;
		B = null;
		Resultado = null;
		MensajeError = "";
	}
}

