@page "/"

<PageTitle>Menu</PageTitle>

<div>
	<header class="headerHome">
		<nav class="navHome">
			<div class="navOpHome">
				<a class="textNavHome" href="/">Home</a>
			</div>
			<div class="navOp">
				<a class="textNavHome" href="/ackerman">Funcion de <br /> Ackerman</a>
				<a class="textNavHome" href="/euclides">Algoritmo de <br /> Euclides</a>
				<a class="textNavHome" href="/torresdehanoi">Torres de <br /> Hanoi</a>
			</div>
		</nav>
		<section class="headerHomeTitle">
			<h1 class="headerHomeTitleInfo">CALCULADORA DE FUNCION DE ACKERMAN, ALGORITMO DE EUCLIDES Y TORRES DE HANOI</h1>
		</section>
	</header>
	<div class="containerOpGen">
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/AckermanOp.png" width="200" />

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
			</div>
			<button class="buttonOp"><a href="/ackerman"></a>INGRESAR</button>
		</div>
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/EuclidesOp.png" width="200" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
			</div>
			<button class="buttonOp"><a href="/euclides"></a>INGRESAR</button>
		</div>
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/TorresDeHanoiOp.png" width="200" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
			</div>
			<button class="buttonOp"><a href="/torresdehanoi"></a>INGRESAR</button>
		</div>
	</div>
	<footer class="footerHome">
		<p class="textFooterHome">© 2024 Grupo 3</p>
	</footer>
</div>


