@page "/"

<PageTitle>Menu</PageTitle>

<h1>Menu Principal</h1>

<ul>
	<li><a href="/euclides">Algoritmo de Euclides</a></li>
	<li><a href="/ackerman">Funcion de Ackerman</a></li>
	<li><a href="/torresdehanoi">Torres de Hanoi</a></li>
</ul>


