@inject NavigationManager NavigationManager

@page "/"

<PageTitle>Menu</PageTitle>

<div>
	<NavMenuHeader />
	<header class="headerHome">
		<section class="headerHomeTitle">
			<h1 class="headerHomeTitleInfo">CALCULADORA DE FUNCION DE ACKERMAN, ALGORITMO DE EUCLIDES Y TORRES DE HANOI</h1>
		</section>
	</header>
	<div class="containerOpGen">
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/AckermanOp.png" width="300" />
				<h3>Funcion de Ackerman</h3>
				<p class="OpInfo">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper venenatis ante, vitae aliquam mauris
					Fusce in diam id risus tristique fermentum ut dignissim tellus. Etiam hendrerit elit
				</p>
			</div>
			<button class="buttonOp" @onclick="@( () => NavigateTo("/ackerman") )">INGRESAR</button>
		</div>
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/EuclidesOp.png" width="225" />
				<h3>Algoritmo de Euclides</h3>
				<p class="OpInfo">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper venenatis ante, vitae aliquam mauris
					Fusce in diam id risus tristique fermentum ut dignissim tellus. Etiam hendrerit elit
				</p>
			</div>
			<button class="buttonOp" @onclick="@( () => NavigateTo("/euclides") )">INGRESAR</button>
		</div>
		<div class="containerOp">
			<div class="containerOpInfo">
				<img src="/TorresDeHanoiOp.png" width="250" />
				<h3>Torres de Hanoi</h3>
				<p class="OpInfo">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper venenatis ante, vitae aliquam mauris
					Fusce in diam id risus tristique fermentum ut dignissim tellus. Etiam hendrerit elit
				</p>
			</div>
			<button class="buttonOp" @onclick="@( () => NavigateTo("/torresdehanoi") )">INGRESAR</button>
		</div>
	</div>
	<Footer />
</div>

@code {
	void NavigateTo(string url)
	{
		NavigationManager.NavigateTo(url);
	}
}
