@page "/torresdehanoi"
<PageTitle>TorresDeHanoi</PageTitle>

<h3>Torres De Hanoi</h3>

<input  @bind=disco/>

<button @onclick="Inicio">Ingresar</button>

@foreach (var item in Imprimir)
{
    <li>@item</li>
}

<div>@contador</div>

@code{
    int disco=0;
    int contador =1;
    int origen;
    int auxiliar;
    int destino;
    List<string> Imprimir = new List<string>();

    protected override void OnInitialized()
    {
        origen = 1;
        auxiliar = 2;
        destino = 3;
    }

    void Inicio()
    {
        TorreHanoi(disco, origen, destino, auxiliar);
    }

    int TorreHanoi(int disco, int origen, int destino, int auxiliar)
    {
        if (disco==1)
        {
            Imprimir.Add($"Mueve el disco {disco} desde torre {origen} hasta {destino}");
            return 0;
        }
        else
        {
            TorreHanoi(disco - 1, origen, destino, auxiliar);
            Imprimir.Add($"Mueve el disco {disco} desde torre {origen} hasta {destino}");
            return TorreHanoi(disco - 1, auxiliar, origen, destino);

        }
        contador++;
    }

}
