@page "/torresdehanoi"
<PageTitle>TorresDeHanoi</PageTitle>

<NavMenuHeader />

<div class="d-flex justify-content-evenly align-items-center" style="margin:3rem 0;">
    <div style="width: 353px; height: 386px; border-radius: 30px; background: rgba(28, 142, 142, 0.31); margin:1rem 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); display:flex; align-items:center; flex-direction:column;">

        <h3 style="color: #FFF;text-align: center;font-family: Inter;font-size: 23px;font-style: normal;
            font-weight: 400;line-height: normal; display:flex; align-items:center; margin: 4rem 2rem 2rem 2rem;">
            Torres De Hanoi
        </h3>

        <p style="color: #FFF;text-align: center;font-family: Inter;font-size: 16px;font-style: normal;
            font-weight: 400;line-height: normal; margin: 0 2.5rem;">
            Ingrese el numero de discos que desea en la torre inicial
        </p>
        
        <select @bind=disco class="form-select" aria-label="Default select example" 
            style="margin: 1rem; width:75%; ">

            <option selected>Selecciona una opción</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>

        <button type="button" class="btn btn-outline-info" style="margin:1rem; width:75%;" @onclick="Inicio">
            Calcular
        </button>

    </div>

    <div style="width: 353px; height: 386px; border-radius: 30px; background: rgba(28, 142, 142, 0.31);;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); display:flex; justify-content:center; align-items:center; flex-direction:column; color:white;">
        @foreach (var item in Imprimir)
        {
            <div>@item</div>
        }
    </div>

</div>


@code{
    int disco=0;
    int origen;
    int auxiliar;
    int destino;
    List<string> Imprimir = new List<string>();

    protected override void OnInitialized()
    {
        origen = 1;
        auxiliar = 2;
        destino = 3;
    }

    void Inicio()
    {
        Imprimir.Clear();
        TorreHanoi(disco, origen, destino, auxiliar);
    }

    int TorreHanoi(int disco, int origen, int destino, int auxiliar)
    {
        if (disco==1)
        {
            Imprimir.Add($"Mueve el disco {disco} desde torre {origen} hasta {destino}");
            return 0;
        }
        else
        {
            TorreHanoi(disco - 1, origen, destino, auxiliar);
            Imprimir.Add($"Mueve el disco {disco} desde torre {origen} hasta {destino}");
            return TorreHanoi(disco - 1, auxiliar, origen, destino);

        }
    }

}
